<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, tempora,
      mollitia nam culpa quam blanditiis repellat officiis laudantium eveniet
      molestiae, consequuntur placeat dolorem tenetur vitae alias voluptatum!
      Incidunt enim tempora ratione saepe, veritatis obcaecati blanditiis
      inventore rerum fuga fugiat minus explicabo nam recusandae vel officiis
      praesentium quos tenetur hic laboriosam.
    </p>
  </body>
</html>
