<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>New Message Form</title>
  </head>
  <body>
    <h1>New Message Form</h1>
    <form class="nm-form" action="/new" method="post">
      <label for="user">User:</label>
      <input type="text" id="user" name="user" required />
      <label for="message">Message:</label>
      <textarea
        style="height: 156px; width: 288px; resize: none"
        id="message"
        name="message"
        required
      >
      </textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
