*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  /* padding: 15px; */
  background-color: #1f2937;
  
}

.logo{
  margin-right: auto;
  margin-left: 25%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
li {
  margin-left: 20px;
  
}

a {
  text-decoration: none;
  color: white;
  padding: 15px;
  
}
a:hover {
  background-color: #2ba8fb;
  border-radius: 20px;
}
.container{
  height: 100vh;
  
  
  display: flex;
  flex-direction: column;
  
}
.container > section {
  
    flex: 1;
   
    

}
.hero-img{
  height: auto;
  width: 400px;
  border-radius: 15px;
}
.section-1{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  background-color: #1f2937;
  color: white;
  
}
.hero-text{
  padding-top: 50px;
}
.hero-text > h1{
  font-size: 36px;
  margin-bottom: 10px;
}
.hero-btn{
  margin-top: 15px;
  font-size: 15px;
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.hero-btn:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}
.hero-btn:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.mf{
  margin-right: 25%;
}
.logo-svg{
  width: 100px;
}
.section-2 > h1{
  font-size: 30px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-top: 30px;
  
  
}
.container-2 > div > h4 {
  text-align: center;
}

.container-2{
  display:flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
  

}

.container-2 > div > img {
  width: 250px;
  height: 312px;
  margin-top: 30px;
  border-radius: 10px;
  object-fit: cover;
  

  
}
.section-3{
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 50px;
 
}

.section-3 > div {
  width: 800px;
  font-size: 28px;
  font-style: italic;
  
  
}
.section-3 > div > h6 {
  text-align: end;
}

.section-4 {
  display: flex;
  justify-content: center;
  padding: 50px;
  color: white;
}
.section-4 > div {
  width: 500px;
  display: flex;
  padding: 30px;
  background-color:#1f2937 ;
  border-radius: 30px;
  justify-content: space-around;
}

.bottom-btn{
  background-color: #1f2937;
  border: 1px solid white;
  border-radius: 15px;
  margin-left: 50px;
  color: white;
  padding: 15px;
  width: 150px;
  
}
.bottom-btn:hover{
  transform: scale(1.2);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}