@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e2e;
  --catppuccino-mocha-fg: #f8f8f2;
  --catppuccino-mocha-accent: #cba6f7;
  --catppuccino-mocha-comment: #6c7086;
  --catppuccino-mocha-string: #a6e3a1;
  --catppuccino-mocha-operator: #89dceb;
  --catppuccino-mocha-keyword: #cba6f7;
  --catppuccino-mocha-function: #89b4fa;
  --catppuccino-mocha-variable: #ffb7b7;
}
* {
  @apply transition-colors duration-200;
}

body {
  background-color: var(--background);
  color: white;
}

.text-editor {
  width: 100%;
  margin: 0 auto;
}
.ql-editor {
  min-height: 100px;
}

.ql-syntax {
  background-color: black;
  color: white;
}
