
*{
 margin: 0;
 border: 0;
 box-sizing: border-box;

}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: url(../public/images/background.jpg)
}

button {
  border: 1px solid rgba(255, 255, 255, 0.726);
}
button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.game-container {
  background-color: #1716164a;
  width: 70%;
  min-height: 80%;
  display: flex;
  
}
.cpu-board{
  margin-left: auto;
}

.board{
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}


.board-cell {
  min-width: 100%;
  min-height: 100%;
  border: 1px solid #cccccc8e;
  /* display: inline-block; */
  cursor: pointer;
  background-color: #1716164a;
  vertical-align: top;
}

.board-cell.hit {
  background-color: #ff0000;
}

.board-cell.miss {
  background-color: #ccc;
}

.board-cell.ship {
  background-color: #000;
}

.fleet-container {
  min-height: 80%;
  margin-left: 10px;  
}

.ship {
  margin-top: 5px;
  width: 150px;
  height: 50px;
  background-color: transparent;

}
.ship:hover{
  transform: scale(1.1);
  cursor: pointer;
}



.carrier{
  background-image: url(../public/images/carrier.svg);
}

.battleship{
  background-image: url(../public/images/battleship.svg);

}

.cruiser{
  background-image: url(../public/images/cruiser.svg);

}
.submarine{
  background-image: url(../public/images/submarine.svg);

}
.destroyer{
  background-image: url(../public/images/destroyer.svg);

}


.player-board > .board > .ship-cell {
  background-color: #3498db; /* Color for cells with a ship */
}



body > h1 {
  font-family: 'Old Standard TT';
  font-weight: 900;
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;

}

.notifications-container{
  background-color: #1716164a ;
  width: 70%;
  color: white;
  display: flex;
  justify-content: space-between;

}
.player-notification, .cpu-notification{
  display: flex;
  width: 50%;
}
.cpu-notification{
  justify-content: flex-end;
}


.cpt-avatar, .pirate-avatar{
  height: 100px;
}
