*{
 margin: 0;
 border: 0;
 box-sizing: border-box;
}
body{
  min-height: 100vh;
}

button {
  border: 1px solid black;
}
button:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.game-container {
  min-height: 80%;
  display: flex;
  justify-content: space-around;
}

.board{
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.player-board {
  width: 33%;
  border: 2px solid #000;
  box-sizing: border-box;
}

.cpu-board {
  width: 33%;
  border: 2px solid #000;
  box-sizing: border-box;
}

.board-cell {
  min-width: 100%;
  min-height: 100%;
  border: 1px solid #ccc;
  /* display: inline-block; */
  cursor: pointer;
  background-color: #fff;
  vertical-align: top;
}

.board-cell.hit {
  background-color: #ff0000;
}

.board-cell.miss {
  background-color: #ccc;
}

.board-cell.ship {
  background-color: #000;
}

.fleet-container {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  border: 1px solid black;
  
}

.ship {
  border: 1px solid black;
  margin-top: 5px;
  width: 150px;
  height: 50px;
  background-color: transparent;

}




.carrier{
  background-image: url(../public/images/carrier.svg);
}

.battleship{
  background-image: url(../public/images/battleship.svg);

}

.cruiser{
  background-image: url(../public/images/cruiser.svg);

}
.submarine{
  background-image: url(../public/images/submarine.svg);

}
.destroyer{
  background-image: url(../public/images/destroyer.svg);

}



.ship:active {
  border: 1px solid cyan;
  background-color: #cccccc00;
  
}

